// Social media icons
.contact {
	i {  cursor: pointer; }
	
	.fa-circle.icon-background { color: white; }

	.fa-stack {
		font-size: 5em;
	}

	.fa-stack-1x {
		color: $contact;

		&:hover {
			color: darken($contact, 20%);
		}
	}
}