.section.home.fp-section.fp-table {
 justify-content: center;
}

/* Arrow animation */
a {
  &, &:link, &:visited, &:focus, &:hover,  &:active { 
  color: #fff;
  text-decoration: none;
  }
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.arrow:before {
  cursor: pointer;
  margin: 20px;
}
.bounce {
  -moz-animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

// Homepage text
.nameHeading, .titleHeading {
  cursor: default;
}

.nameHeading {
  font-size: 80px;
  margin-top: 150px;
  font-family: $name-font; 
}

.titleHeading {
  font-size: 24px;
}