// Smaller screens
@media only screen and (max-width: 785px) {
	// Home
	.nameHeading {
		margin-top: 0;
	}

	// Page content
	.pageHeader h2 {
		margin-top: 75px;
	}

	.pageContent {
		width: 100%;
		padding: 0 20px;
	}

	
	// Contact
	.contact .pageContent {
		text-align: center;
	}

	.contact .fa-stack {
		font-size: 3em;
	}

	
}