<script id="contactContent" type="text/html">
	<div class="pageHeader">
		<h2>Contact</h2>
	</div>
	<div class="container-fluid">
		<div class="pageContent">

			<span class="fa-stack">
				<a href="mailto:awilliamsdev@gmail.com" target="_top">
					<i class="fa fa-circle fa-stack-2x icon-background"></i>
					<i class="fa fa-envelope fa-stack-1x"></i>
				</a>
			</span>

			<span class="fa-stack">
				<a href="https://github.com/alyssawilliams" target="_blank">
					<i class="fa fa-circle fa-stack-2x icon-background"></i>
					<i class="fa fa-github fa-stack-1x"></i>
				</a>
			</span>

			<span class="fa-stack">
				<a href="https://codepen.io/alyssawilliams/" target="_blank">
					<i class="fa fa-circle fa-stack-2x icon-background"></i>
					<i class="fa fa-codepen fa-stack-1x"></i>
				</a>
			</span>
			
			<span class="fa-stack">
				<a href="https://www.linkedin.com/in/awilliamsdev/" target="_blank">
					<i class="fa fa-circle fa-stack-2x icon-background"></i>
					<i class="fa fa-linkedin fa-stack-1x"></i>
				</a>
			</span>

		</div>
	</div>
</script>